<!-- {% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-switcher.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-3.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-4.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-5.css' %}">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="color-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link rel="stylesheet" href="style-switcher.css">
    <link rel="stylesheet" href="color-1.css" class="alternate-style" title="color-1">
    <link rel="stylesheet" href="color-2.css" class="alternate-style" title="color-2">
    <link rel="stylesheet" href="color-3.css" class="alternate-style" title="color-3">
    <link rel="stylesheet" href="color-4.css" class="alternate-style" title="color-4">
    <link rel="stylesheet" href="color-5.css" class="alternate-style" title="color-5">
</head>

<body>
    
    <div class="main-container">
        
        <div class="aside">
            <div class="logo">
                <a href="#"><span>A</span>tlas</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="#home" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#about"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#services"><i class="fa fa-list"></i>Services</a></li>
                <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                <li><a href="#contact"><i class="fa fa-comments"></i>Contact</a></li>
                <li><a href="#login"><i class="fa fa-sign"></i>Login</a></li>
            </ul>
        </div>
        
        <div class="main-content">
            
            <section class="home section" id="home">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hello, my name is <span class="name">Kanchan Vishwakarma</span></h3>
                            <h3 class="my-profession">I' m a <span class="typing">python fullsatck developer</span></h3>
                            <p>I'm a fresher in software industry ,but i am currenty doing TCS online exam proctoring
                                work form home .work duration time in 1 year .and i am work with DBMS ,excel ,student
                                monitoring ,and many more.... </p>
                            <a href="#contact" class="btn hire-me">More About Me</a>
                        </div>
                        <div class="home-img">
                            <img src="{% static 'image/k.jpeg' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="about section" id="about">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>About Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-content padd-15">
                            <div class="row">
                                <div class="about-text padd-15">
                                    <h3> I'm Kanchan vishwakarma and <span>Web Developer</span></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, expedita
                                        cupiditate porro illum maxime debitis, assumenda qui esse deserunt quibusdam, id
                                        rem nemo dolorum ducimus. Maiores nulla id quae qui asperiores hic obcaecati
                                        libero amet fugit sunt totam, suscipit dicta deleniti magni ratione quidem ipsa
                                        mollitia quod praesentium aliquid explicabo. Illo temporibus deserunt deleniti
                                        saepe.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="personal-info padd-15">
                                    <div class="row">
                                        <div class="info-item padd-15">
                                            <p> Birthday : <span>12-08-1999</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Age : <span>23</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Website : <span>www.domain.com</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Email : <span>kv275832@gmail.com</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Degree : <span>IT</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Phone : <span>9109550587</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>City : <span>Bhopal</span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p>Freelnace : <span>Available</span></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="buttons padd-15">
                                            <a href="#" class="btn">Download CV</a>
                                            <a href="#contact" class="btn hire-me">Hire Me</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="skills padd-15">
                                    <div class="row">
                                        <div class="skill-item">
                                            <h5>CSS</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 70%"></div>
                                                <div class="skill-percent">70%</div>
                                            </div> 
                                        </div>
                                        <div class="skill-item">
                                            <h5>JS</h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 50%"></div>
                                                <div class="skill-percent">50%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item">
                                            <h5>HTML </h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 80%"></div>
                                                <div class="skill-percent">80%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item">
                                            <h5>PYTHON </h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 65%"></div>
                                                <div class="skill-percent">65%</div>
                                            </div>
                                        </div>
                                        <div class="skill-item">
                                            <h5>DJANGO </h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 15%"></div>
                                                <div class="skill-percent">15%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="education padd-15">
                                    <h3 class="title">Education</h3>
                                    <div class="row">
                                        <div class="timeline-box padd-15">
                                            <div class="timeline shadow-dark">
                                        
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2023
                                                    </h3>
                                                    <h4 class="timeline-title">Bachelor in information technology</h4>
                                                    <p class="timeline-text"> perferendis dolor earum voluptates?
                                                        Ratione modi, rerum sequi odio nihil minima omnis quidem vero
                                                        magni maiores ab? Vero beatae molestiae, tempora dolorum alias,
                                                        necessitatibus inventore animi quam unde voluptates magni quos
                                                        officia velit tenetur aperiam quia esse sunt ratione aliquid
                                                        modi. Voluptatem repellendus quos reprehenderit, aliquid vel ab
                                                        aut consectetur nisi.</p>
                                                </div>
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2023
                                                    </h3>
                                                    <h4 class="timeline-title">Bachelor in information technology</h4>
                                                    <p class="timeline-text">dolor earum voluptates? Ratione modi, rerum
                                                        sequi odio nihil minima omnis quidem vero magni maiores ab? Vero
                                                        beatae molestiae, tempora dolorum alias, necessitatibus
                                                        inventore animi quam unde voluptates magni quos officia velit
                                                        tenetur aperiam quia esse sunt ratione aliquid modi. Voluptatem
                                                        repellendus quos reprehenderit, aliquid vel ab aut consectetur
                                                        nisi.</p>
                                                </div>
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2023
                                                    </h3>
                                                    <h4 class="timeline-title">Bachelor in information technology</h4>
                                                    <p class="timeline-text"> Expedita numquam, debitis obcaecati
                                                        similique iste d vero asperiores blanditiis eius quae aperiam
                                                        inventore alias nostrum, excepturi explicabo nisi autem quo
                                                        dignissimos. Veritatis amet unde fuga blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="experience padd-15">
                                    <h3 class="title">Experience</h3>
                                    <div class="row">
                                        <div class="timeline-box padd-15">
                                            <div class="timeline shadow-dark">
                                            
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2023
                                                    </h3>
                                                    <h4 class="timeline-title">Bachelor in information technology</h4>
                                                    <p class="timeline-text"> perferendis dolor earum voluptates?
                                                        Ratione modi, rerum sequi odio nihil minima omnis quidem vero
                                                        magni maiores ab? Vero beatae molestiae, tempora dolorum alias,
                                                        necessitatibus inventore animi quam unde voluptates magni quos
                                                        officia velit tenetur aperiam quia esse sunt ratione aliquid
                                                        modi. Voluptatem repellendus quos reprehenderit, aliquid vel ab
                                                        aut consectetur nisi.</p>
                                                </div>
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2023
                                                    </h3>
                                                    <h4 class="timeline-title">Bachelor in information technology</h4>
                                                    <p class="timeline-text">dolor earum voluptates? Ratione modi, rerum
                                                        sequi odio nihil minima omnis quidem vero magni maiores ab? Vero
                                                        beatae molestiae, tempora dolorum alias, necessitatibus
                                                        inventore animi quam unde voluptates magni quos officia velit
                                                        tenetur aperiam quia esse sunt ratione aliquid modi. Voluptatem
                                                        repellendus quos reprehenderit, aliquid vel ab aut consectetur
                                                        nisi.</p>
                                                </div>
                                                <div class="timeline-item">
                                                    <div class="circle-dot"></div>
                                                    <h3 class="timeline-date">
                                                        <i class="fa fa-calendar"></i>2020 - 2023
                                                    </h3>
                                                    <h4 class="timeline-title">Bachelor in information technology</h4>
                                                    <p class="timeline-text"> Expedita numquam, debitis obcaecati
                                                        similique iste d vero asperiores blanditiis eius quae aperiam
                                                        inventore alias nostrum, excepturi explicabo nisi autem quo
                                                        dignissimos. Veritatis amet unde fuga blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="service section" id="services">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Service</h2>
                        </div>
                    </div>
                    <div class="row">
                    
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-mobile-alt"></i>
                                </div>
                                <h4>Web Design</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto libero nemo
                                    earum, eius cumque perferendis ab ipsum corrupti non error in maiores ex illo
                                    accusantium. Nostrum quis tempora illum ea?</p>
                            </div>
                        </div>
                     
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-laptop-code"></i>
                                </div>
                                <h4>Web Design</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto libero nemo
                                    earum, eius cumque perferendis ab ipsum corrupti non error in maiores ex illo
                                    accusantium. Nostrum quis tempora illum ea?</p>
                            </div>
                        </div>
                       
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-palette"></i>
                                </div>
                                <h4>web designS</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto libero nemo
                                    earum, eius cumque perferendis ab ipsum corrupti non error in maiores ex illo
                                    accusantium. Nostrum quis tempora illum ea?</p>
                            </div>
                        </div>
                 
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4>Coading</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto libero nemo
                                    earum, eius cumque perferendis ab ipsum corrupti non error in maiores ex illo
                                    accusantium. Nostrum quis tempora illum ea?</p>
                            </div>
                        </div>
                       
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <h4>Searching</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto libero nemo
                                    earum, eius cumque perferendis ab ipsum corrupti non error in maiores ex illo
                                    accusantium. Nostrum quis tempora illum ea?</p>
                            </div>
                        </div>
                       
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-bullhorn"></i>
                                </div>
                                <h4>Sound</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto libero nemo
                                    earum, eius cumque perferendis ab ipsum corrupti non error in maiores ex illo
                                    accusantium. Nostrum quis tempora illum ea?</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </section>
           
            <section class="portfolio section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>portfolio</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="portfolio-heading padd-15">
                            <h2>My Last Projects:</h2>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="portfolio-item padd-15">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="{% static 'image/pp.jpg' %}" alt="" width="300px" height="300px">
                                </div>
                            </div>
                        </div>
                      
                        <div class="portfolio-item padd-15">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="{% static 'image/kk.jpg' %}" alt="" width="300px" height="300px">
                                </div>
                            </div>
                        </div>
                       
                        <div class="portfolio-item padd-15">
                            <div class="portfolio-item-inner shadow-dark">
                                <div class="portfolio-img">
                                    <img src="{% static 'image/tt.jpg' %}" alt="" width="300px" height="300px">
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </section>
          
            <section>
                <div class="contact section" id="contact">
                    <div class="container">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Contect Me</h2>
                            </div>
                        </div>
                        <h3 class=" contact-title padd-15">Have You Any Questions ?</h3>
                        <h4 class="contact-sub-title padd-15"> I'M AT YOUR SERVICES</h4>
                        <div class="row">
                            
                            <div class="contact-info-item padd-15">
                                <div class="icon"><i class="fa fa-phone"></i></div>
                                <h4>Call Us On</h4>
                                <p>9109550587</p>
                            </div>
                           
                            <div class="contact-info-item padd-15">
                                <div class="icon"><i class="fa fa-map-marker"></i></div>
                                <h4>Office</h4>
                                <p>Bhopal Madhya Pradesh</p>
                            </div>
                
                            <div class="contact-info-item padd-15">
                                <div class="icon"><i class="fa fa-envelope"></i></div>
                                <h4>Email</h4>
                                <p>kv275832@gmail.com</p>
                            </div>
                            
                            <div class="contact-info-item padd-15">
                                <div class="icon"><i class="fa fa-globe-europe"></i></div>
                                <h4>Website</h4>
                                <p>www.domain.com</p>
                            </div>
                           
                        </div>
                        <h3 class=" contact-title padd-15">SEND ME AN EMAIL</h3>
                        <h4 class="contact-sub-title padd-15"> I'M VERY RESPONSIVE TO MESSAGES</h4>
                      
                        <div class="row">
                            <div class="contact-form padd-15">
                                <div class="row">
                                    <div class="form-item col-6 padd-15">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-item col-6 padd-15">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 padd-15">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 padd-15">
                                        <div class="form-group">
                                            <textarea name="" class="form-control" id=""
                                                placeholder="Maessage"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 padd-15">
                                        <button type="submit" class="btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </section>
           
        </div>
        
    </div>
    
    <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas fa-moon"></i>
        </div>
        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>

   
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="style-switcher.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        referrerpolicy="no-referrer"></script>
</body>

</html>
    
{% block content %}
{% endblock content %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/style-switcher.js' %}"></script>
    

    

  </body>
</html> -->